<!DOCTYPE html>
<html lang="en">
<body>
<footer class="footer" th:fragment="footer">
    <div class="footer-container">
        <div class="footer-left">
            <h4>BondiWay</h4>
            <p>
                © 2024 BondiWay. Inteligencia en Movimiento. </p>
        </div>
        <div class="footer-links">
            <a href="#">Privacidad</a>
            <a href="#">Términos</a>
            <a href="#">Ayuda</a>
            <a href="#">Contacto</a>
        </div>
        <div class="footer-icons">
            <span class="material-symbols-outlined">
                language
            </span>
            <span class="material-symbols-outlined">
                share
            </span>
        </div>
    </div>
</footer>
</body>
</html>