<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
<header class="topbar" th:fragment="navbar(activePage)">
    <div class="topbar-container">
        <a th:href="@{/home}" class="logo">
            <span class="logo-text">BondiWay</span>
        </a>
        <nav class="navbar">
            <a th:href="@{/home}" th:classappend="${activePage == 'home' ? ' active' : ''}">Inicio</a>
            <a th:href="@{/viajeEnCurso}" th:classappend="${activePage == 'viaje' ? ' active' : ''}">Viaje en curso</a>
            <a th:href="@{/buscar-viaje}" th:classappend="${activePage == 'busqueda' ? ' active' : ''}">Buscar Viaje</a>
        </nav>
        <div class="topbar-actions">
            <div class="profile-menu">
                <button class="profile-btn">
            <span class="material-symbols-outlined">
                account_circle
            </span>
                </button>
                <div class="profile-dropdown">
                    <a th:href="@{/perfilUsuario}">
                <span class="material-symbols-outlined">
                    person
                </span>
                        Mi perfil
                    </a>
                    <a th:href="@{/logout}">
                <span class="material-symbols-outlined">
                    logout
                </span>
                        Cerrar sesión
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>